@import "tailwindcss";

/* LIGHT MODE */
:root {
  --color-bg: #fff;
  --color-text: #1a1a1a;
  --color-primary: #A5C89E;
  --color-hover: #D8E983;
  --color-border: #AEB877;
}

/* DARK MODE */
.dark {
  --color-bg: #121212;
  --color-text: #f5f5f5;
  --color-primary: #D8E983;
  --color-hover: #D8E983;
  --color-border: #AEB877;
}


@theme {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);
  --color-brand: var(--color-primary);
  --color-hover:var(--color-hover);
  --color-border:var(--color-border);
  --font-title:var(--font-title);
  --font-description:var(--font-description);
  --font-heading:var(--font-heading);
  --font-thin:var(--font-thin);
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-description);
}
