@import "tailwindcss";

* {
  margin: 0;
  user-select: none;
}

html,
body{
  height: 100%;
  margin: 0;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000080;
  pointer-events: none;
  transition: all 0.3s;
  z-index: 49;
}

body {
  overflow-x: hidden;
}

/* LIGHT MODE */
:root {
  --color-bg: #eee;
  --color-foreground: white;
  --color-text: #64748b;
  --color-menu: #101828 !important;
  --color-primary: #0a97d4;
  --color-hover: #0a97d4b2;
  --color-border: #AEB877;
}

/* DARK MODE */
.dark {
  --color-bg: #111827;
  --color-foreground: #242A38;
  --color-text: #fff;
  --color-menu: #fff !important;
  --color-primary: #0a97d4;
  --color-hover: #0a97d4b2;
}

@theme {
  --color-background: var(--color-bg);
  --color-foreground: var(--color-foreground);
  --color-color: var(--color-text);
  --color-brand: var(--color-primary);
  --color-menu: var(--color-menu);
  --color-hover:var(--color-hover);
  --color-border:var(--color-border);
  --font-title:var(--font-title);
  --font-description:var(--font-description);
  --font-heading:var(--font-heading);
  --font-thin:var(--font-thin);
  --font-regular:var(--font-regular);
}


body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-regular);
}
